.header {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 45px;
    z-index: 2;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__title {
    color: #FFF;
    text-decoration: none;
    font-family: Crimson Pro;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 8px;
    z-index: 2;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 86px;
}

.menu__item {
    list-style-type: none;
}

.menu__item a {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;    
}

.menu__item--selected a {
    font-weight: 700;    
    border-bottom: 2px solid #fff;
    padding-bottom: 8px;
}

.navbar__btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 2.7rem;
    cursor: pointer;
    z-index: 2;
}

/* Responsive Design */

@media(max-width: 992px) {
    
    .navbar__menu {
        position: absolute;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        background: #181719;
        display: none;
    }
    
    .navbar__menu.open {
        display: flex;
    }
    
    .navbar__btn {
        display: flex;
    }
}