.header {
    width: 100%;
    margin-bottom: 38px;
}

.header__navbar {
    display: flex;
    flex-direction: row;
}

.navbar__title {
    color: #FFF;
    font-family: Crimson Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
    border: 1px solid #fff;
}